<div class="row">
  <h3><center>Guest Information</center></h3>
    <ul>
      <li>Thank you for attending the Keeneland Concours d'e Elegance!</li>
      <li>Our proceeds go to help the UK Children's Hospital</li>
      <li>This app can help you navigate the Concours so you can maximize your experience</li>
      <li>Be sure to check out our schedule for a list of events and happenings.</li>
      <li>For your convenience there are food vendors available</li>
      <li>Bathrooms are located in Keene Barn</li>
      <li>Check the map to find your favorite car club</li>
      <li>If you need additional help, find your closest volunteer station</li>
      <li>Let everyone know about Keenland Concours d'Elegance!  #KeenelandConcours #KC'dE</li>
      <li>Find us on Facebook:  <a href="https://www.facebook.com/KeenelandConcours">https://www.facebook.com/KeenelandConcours</a></li>
      <li>Tweet about it on Twitter:  <a href="https://twitter.com/keenelandcou">https://twitter.com/keenelandcou</a></li>
      <li>You can also visit our website at:  <a href="www.keenelandconcours.com">www.keenelandconcours.com</a></li>
      <li>It will be hot! So remember to stay hydrated and enjoy the concours!</li>
    </ul>
</div>
<div>
    <h4 class="panel-title">
        <a button class="btn btn-success" href="guestservices"><i class="fa fa-angle-double-left"></i>
            Back</a>
        </button>
    </h4>
</div>