<div class="row">
  <div class="col-md-3 text-center">
    <h3>Guest Services</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt orci ut tellus sollicitudin, sed egestas lorem ultricies. Praesent facilisis.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <a href="judging" class="btn btn-success btn-block btn-lg">Something Goes Here</a>
  </div>
</div>
<div class="row">
    <div class="col-md-6 well">
      <ul class="list-unstyled" id="drop_down_list">
        <li>
          <h4 class="panel-title">
            <button class="btn btn-success accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#FirstAid">
              First Aid <i class="fa fa-angle-double-down"></i>
            </button>
          </h4>
          <div id="FirstAid" class="panel-collapse collapse">
            <div class="panel-body">
              John Doe<br>
              First Aid (859)-555-5555<br>
            </div>
          </div>
        </li>
        <li>
          <h4 class="panel-title">
            <button class="btn btn-success accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#LostAndFound">
              Lost & Found<i class="fa fa-angle-double-down"></i>
            </button>
          </h4>
          <div id="LostAndFound" class="panel-collapse collapse">
            <div class="panel-body">
              Jane Doe<br>
              Lost & Found (859)-555-1234
            </div>
          </div>
        </li>
        <li>
          <h4 class="panel-title">
            <a class="btn btn-success" href="map">
              Restrooms</a>
          </h4>
        </li>
      </ul>
  </div>
