<div class="row">
  <div class="col-md-6 well">
    <div class="row">
      <div class="col-md-12">
        <h1 id="slide_title">Title</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="list-unstyled" id="slide_options">
        </ul>
      </div>
    </div>
  </div>
</div>
