<div class="row">
  <div class="col-md-3 text-center">
    <h3>Welcome to the Keeneland Concourse d'Elegance</h3>
    <p>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt orci ut tellus sollicitudin, sed egestas lorem ultricies. Praesent facilisis.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <a href="map" class="btn btn-success btn-block btn-lg"><i class="fa fa-map-marker"></i> Map</a>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <a href="info" class="btn btn-success btn-block btn-lg"><i class="fa fa-info-circle"></i> Info</a>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <a href="help" class="btn btn-success btn-block btn-lg"><i class="fa fa-question-circle"></i> Help</a>
  </div>
</div>
<div class="col-md-3 text-center">
  <p>
    Having a great time?  Spread the word!  #KeenelandConcours #KC'dE <br>
    Visit us on Facebook:  <a href="https://www.facebook.com/KeenelandConcours">https://www.facebook.com/KeenelandConcours</a> <br>
      and Twitter:  <a href="https://twitter.com/keenelandcou">https://twitter.com/keenelandcou</a><br>
    Visit Our Website:  <a href="www.keenelandconcours.com">www.keenelandconcours.com</a><br>
  </p>
</div>