<div class="row">
  <div class="col-md-3 text-center">
    <h3>Welcome to the Keeneland Concours d'Elegance</h3>
    <p>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt orci ut tellus sollicitudin, sed egestas lorem ultricies. Praesent facilisis.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <a href="map" class="btn btn-success btn-block btn-lg"><i class="fa fa-map-marker"></i> Map</a>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <a href="info" class="btn btn-success btn-block btn-lg"><i class="fa fa-info-circle"></i> Info</a>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <a href="help" class="btn btn-success btn-block btn-lg"><i class="fa fa-question-circle"></i> Help</a>
  </div>
</div>
<div class="col-md-3 text-center">
  <p>
    Having a great time?  Spread the word!  #KeenelandConcours #KCd'E <br>
    <a href="https://www.facebook.com/KeenelandConcours"><img width="32" height="32" src="img/facebook_icon.png"/></a>
    <a href="https://twitter.com/keenelandconcou"><img width="32" height="32" src="img/twitter_icon.png"/></a><br>
    Visit Our Website:  <a href="http://www.keenelandconcours.com">www.keenelandconcours.com</a><br>
  </p>
</div>