<div class="row">
  <div class="col-md-3 text-center">
    <h3>Information</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt orci ut tellus sollicitudin, sed egestas lorem ultricies. Praesent facilisis.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <a href="schedule" class="btn btn-success btn-block btn-lg">Schedule</a>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <a href="guestservices" class="btn btn-success btn-block btn-lg">Guest Services</a>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <a href="judge" class="btn btn-success btn-block btn-lg">Info for Judges</a>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <a href="volunteer" class="btn btn-success btn-block btn-lg">Info for Volunteers</a>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <a href="admin" class="btn btn-success btn-block btn-lg">Administration</a>
  </div>
</div>
