<div class="row">
  <div class="col-md-3 text-center">
    <h3>Information</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt orci ut tellus sollicitudin, sed egestas lorem ultricies. Praesent facilisis.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <a href="volunteer" class="btn btn-primary btn-block btn-lg">Volunteering Info</a>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <a href="contact" class="btn btn-primary btn-block btn-lg">Who to contact?</a>
  </div>
</div>
