<div class="container">
  <div class="row">
    <div class="col-md-3 text-center">
      <h3>Welcome to the Keeneland Concourse d'Elegance</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt orci ut tellus sollicitudin, sed egestas lorem ultricies. Praesent facilisis.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <a href="map" class="btn btn-primary btn-block btn-lg">Map</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <a href="info" class="btn btn-primary btn-block btn-lg">Info</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <a href="help" class="btn btn-primary btn-block btn-lg">Help</a>
    </div>
  </div>
</div>
