<div class="row">
  <h2><center>Judge Information</center></h2>
  <h3><u>Mission Statement</u></h3>
  The mission of the Keeneland Concours d'Elegance is to conduct a world-class event that:
  <ul>
  	<p>1.  applies vehicle judging standards that are consistent among all Concours d'Elegance events across the United States in both absolute and relative terms,</p>
  	<p>2.  exclusively employs fair and unbiased judging,</p>
  	<p>3.  eschuews all actual or perceived Conflicts of Interest,</p>
  	<p>4.  preserves and perpetuates the enjoyment and excitement accompanying the history of automotive design and personal transportaion technology</p>
  	<p>5.  publically recognizes and rewards excellence of vehicle:  preservation, public education, and display,</p>
  	<p>6.  financially supports the Children's Hospital of Kentucky from Concours proceeds.</p>
  </ul>
  <br><br>
  <h3><u>Guidlines for Judges</u></h3>
  <br>
  <h4><font color="red"><u>New to Keeneland Concours d'Elegance 2014</u></h4>
    <p>In order to expedite the processing of Judging Sheets, the following procedures will be in affect at this year's Keeneland Concours:</p>
    <ul>
      <li>Each judge will be provided with a pre-printed Judging Sheet for each car which identifies the make/model of the car, a photograph of the car, and the judge.</li>
      <li>Indicate individual deductions in each category by making check marks in the indicated boxes.  Separate scores are given for <i>Condition</i>, <i>Cleanliness</i>, and <i>Originality</i>.</li>
      <li>The owner should be asked to start the car at the end of the twenty minutes allocated for the judging that car. If the owner is unable to start the car, the owner will be given an extra twenty minutes to start the car.  In this event, the three judging sheets for that car should be held until the judging for the next car is complete.  If the owner is unable to start the car after the extra given time, mark DNS at the bottom of the judging sheet.</li>
      <li>Each car must be checked for a Fire Extinguisher and the result indicated at the bottom right of the Judging Sheet.</li>
      <li>If an entry is absent, write "Not present" on the sheet and give the sheet to the Head Judge; volunteers will collect the sheets from the Head Judge.</li>
      <li>Immediately after <strong>each</strong> car is scored, Judging Sheets must be given to the Head Judge unless an extra twenty minutes has been allocated.  Sheets will be reviewed on site and judges must be available to clairfy the scoring if questions arise.</li>
    </ul>
  </font>
  <br>
  <h4><u>Vehicle Placement</u></h4>
  	<p>Each care entered for judging is expected to be fully operational and driven onto the show field for placement at an assigned location within the designated class within the assigned time interval.  Failure to do so may result in disqualification.</p>
  <br>
  <h4><u>Vehicle Integrity, Components, Documentation, and Fire Extinguisher</u></h4>
  	<p>Judged cars must be shown fully assembled; all parts, i.e., wheels, bumpers tops, belly pans, hubcaps, etc. must be attached to the vehicle in the factory original position.  Owners are encouraged, but not required, to display documentation of the vehicle's history by using orignal (or clearly legible copies) of factory build sheets or other important records.</p>
    <p><u>Each car must be checked for a Fire Extinguisher</u> and the result noted at the bottom of the Judging Sheet.</p>
  <br>
  <h4><u>Vehicle Owner or Designee</u></h4>
  	<p>The <u>owner must be present with the vehicle during judging</u>.  If, for good reason (decided by the judges) the owner cannot be present during judging, the owner may designate a single individual to show the car during the judging process.</p>
  <br>
  <h4><u>Qualification of Judges</u></h4>
  	<p>Judges must meet strict qualification criteria and be free from any real or perceived (by any resonable person) conflicts of interest that could influence the objectivity of vehicle scoring.  Judge candidates must attend, and satisfactorily meet the requirements of, a judge's school conducted annually in preparation for this Concours d'Elegance.  Curriculum of this school includes, but is not limited to, formal instruction and didactic educational materials pertainin to:</p>
  <ul>
  	<li>Historical automotive design and technology</li>
  	<li>Vehicle appreciation</li>
  	<li>Event planning</li>
  	<li>Concours rules</li>
  	<li>Evaluation Protocal</li>
  	<li>Judging Team organization</li>
  	<li>Judging standards</li>
  	<li>Point systems and objective deductions</li>
  	<li>Owner recognition</li>
  </ul>
  <br>
  <h4><u>Judging Team</u></h4>
  	<p>Each vehicle will be judged by a three-person team.  One of the judges will be designated the <u>Chief</u> <u>Class Judge</u> who will be responsible for introductions, final class decisions, submissions of the results, and feedback to entrants.</p>
  <br><br>
  <h3><u>Vehicle Judging Protocol</u></h3>
  <ul>
  	<p><strong>Overview</strong>: each judge will be provided with a <u>pre-printed Judging Sheet</u> identifiying the vehicle's make, model, year, and judge's name.  Each judging sheet will also contain an owner-supplied photo of the vehicle printed directly onto this sheet.  Each judge will evaluate one and only one of the following categories:  Exterior, Interior, and Engine Chassis.  Each component of the vehicle listed on the judging sheet, e.g. paintwork, brightwork, engine, etc. will be judged for both originality and condition.  Factory options are considered original; aftermarket options (e.g., a modern radio) are not considered original.  A car may not be  judged after the deadline for placement on the judging field.   The judges my revisit any vehicle and adjust the score sheet at anytime prior to completion of judging all vehicles in that class.</p>
  	<p><strong>Vehicle Restoration</strong>:  if vehicle components have been chrome-plated and such components were not originally chrome-plated at the factory, then deductions for originality may be made by the judge.  The burden of proof of originality rests with the vehicle owner.  <u>Judges must distinguish between over-restoration and non-authentic restoration</u>.</p>
  	<p><strong>Vehicle Operation</strong>:  owners, or their designated representative, will be asked to demonstrate the proper functioning of key vehicle components such as doors, windows, hoods, trunk lid, lights, horn, radios, air conditioning, etc.  Such items will be checked on competition cars where applicable.</p>
  	<p>The owner or designee will be asked to start the car and run the engine at idle.  Proper instrument operation will be checked while the engine is idling.  The engine compartment will be checked for leaks.  Factory provided pollution control equipment should look and function as originally installed.</p>
  	<p>A judge may ask to sit in the car for purposes of properly evalutating the interior and instrument operation; however, if they choose to do so, then the judge <u>must keep both feet OUTSIDE of the vehicle and MAY NOT handle or operate any aspect of the vehicle.</u></p>
  	<p><strong>Vehicle Malfunctions</strong>:  the owner of designee will be permitted an opportunity to correct any malfunctions that may occur.  The opportunity to correct such malfunctions is of limited time duration; this duration begins when the malfunction is noted and ends when judging is completed for the next car in the same class.</p>
  	<p><u>If the owner is unable to start the car</u> while it, or the next vehicle, is being judged, check the box DNS at the top of the judging sheet.</p>
  	<p><strong>Convertibles (Cabriolets)</strong>:  are to be judged with the soft top up and properly fastened.  Cars with removable roof panels will be judged with panels in place.  Vehicles with both retractable canvass tops and removeable metal tops, e.g., older Mercedes SL's, will be judged with the original hard top in place.  Points will be deducted if the original top is not present.  Cars that were originally provided with tools and an owner's manual should have such items available for inspection.  Authorized reprints are acceptable.</p>
  </ul>
  <br>
  <h3><u>Vehicle Scoring and Analyses</u></h3>
  	<p>Each judge will be provided with a pre-printed Judging Sheet.  This sheet contains unique vehicle identification information specifying vehicle make, model, year, and the judge's name.  An owner supplied photograph will also be printed on the judging form.</p>
  	<p>Scoring begins with the assumption that each vehicle has, at the outset, a "perfect" score regarding Condition and Originality in each subsection.  Points are then deducted as appropriate to reflect absolute and relative departures from "perfect" per judge's evaluation.  Point deductions in each category are to be denoted by making clearly legible check marks in black ink in the indicated boxes.  More checked boxes means more point deductions.  The absence of any boxes means a perfect score in that category.</p>
  	<p>After <strong>each</strong> car is scored, Judging Sheets must be given to the class hosts.  Class hosts will give these sheets to an independent third-party affiliated with data analyses who will review each sheet on-site for data clarification.  Judges must be available to clarify scoring if questions arise.</p>
  	<p>Vehicle scores will be entered into a database by an independent group of statisticians.  These data entries will be double-checked for accuracy.  Analyses of this database will be performed by using established statistical analysis software.  All data entry and analyses will be supervised by an experienced professional statistician.</p>
  <br>
  <h3><u>Disputes and Protests</u></h3>
  	<p>If a dispute or protest arises, then the vehicle owner or representative shall first discuss the issue with the <u>Chief Class Judge</u>.  If this does not resolve the dispute, then the <u>Chief Class Judge</u> shall resolve the issue by consulting with judges of that vehicle, and if needed, other judges.  All disputes or protests should be raised and resolved prior to completion of judging for that class.  An owner or representative is free to disagree with the judges; however, the owner or representative is not free to be disagreeable while doing so.  Such behavior may result in disqualification and disbarment from future Concours events.</p>
</div>
<div>
  <h4 class="panel-title">
    <a button class="btn btn-success" href="judge"><i class="fa fa-angle-double-left"></i>
      Back</a>
    </button>
  </h4>
</div>