<div class="row">
   <div class="col-md-12">
     <h1>Results:</h1>
     <br>
   </div>
   <div class="row">
    <div class="col-md-6 well">
      <ul class="list-unstyled" id="drop_down_list">
        <li>
          <h4 class="panel-title">
            <button class="btn btn-success accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#GS">
              Class 1 <i class="fa fa-angle-double-down"></i>
            </button>
          </h4>
          <div id="GS" class="panel-collapse collapse">
            <div class="panel-body">
            </div>
          </div>
        </li>
        <li>
          <h4 class="panel-title">
            <button class="btn btn-success accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#PS">
              Class 2 <i class="fa fa-angle-double-down"></i>
            </button>
          </h4>
          <div id="PS" class="panel-collapse collapse">
            <div class="panel-body">
            </div>
          </div>
        </li>
        <li>
          <h4 class="panel-title">
            <button class="btn btn-success accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Volunteering">
              Class 3 <i class="fa fa-angle-double-down"></i>
            </button>
          </h4>
          <div id="Volunteering" class="panel-collapse collapse">
            <div class="panel-body">
            </div>
          </div>
        </li>
        <li>
          <h4 class="panel-title">
            <button class="btn btn-success accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Judging">
              Class 4 <i class="fa fa-angle-double-down"></i>
            </button>
          </h4>
          <div id="Judging" class="panel-collapse collapse">
            <div class="panel-body">
            </div>
          </div>
        </li>
        <li>
          <h4 class="panel-title">
            <button class="btn btn-success accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Raffle">
              Class 5 <i class="fa fa-angle-double-down"></i>
            </button>
          </h4>
          <div id="Raffle" class="panel-collapse collapse">
            <div class="panel-body">
            </div>
          </div>
        </li>
        <li>
          <h4 class="panel-title">
            <button class="btn btn-success accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Traffic">
              Class 6 <i class="fa fa-angle-double-down"></i>
            </button>
          </h4>
          <div id="Traffic" class="panel-collapse collapse">
            <div class="panel-body">
            </div>
          </div>
        </li>
        <li>
          <h4 class="panel-title">
            <button class="btn btn-success accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#VIP">
              Class 7 <i class="fa fa-angle-double-down"></i>
            </button>
          </h4>
          <div id="VIP" class="panel-collapse collapse">
            <div class="panel-body">
            </div>
          </div>
        </li>
        <li>
          <h4 class="panel-title">
            <button class="btn btn-success accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Vendors">
              Class 8 <i class="fa fa-angle-double-down"></i>
            </button>
          </h4>
          <div id="Vendors" class="panel-collapse collapse">
            <div class="panel-body">
            </div>
          </div>
        </li>
        <li>
          <h4 class="panel-title">
            <button class="btn btn-success accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Grounds">
              Class 9 <i class="fa fa-angle-double-down"></i>
            </button>
          </h4>
          <div id="Grounds" class="panel-collapse collapse">
            <div class="panel-body">
            </div>
          </div>
        </li>
        <li>
          <h4 class="panel-title">
            <button class="btn btn-success accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Tour">
              Class 10 <i class="fa fa-angle-double-down"></i>
            </button>
          </h4>
          <div id="Tour" class="panel-collapse collapse">
            <div class="panel-body">
            </div>
          </div>
        </li>

        <li>
          <h4 class="panel-title">
            <button class="btn btn-success accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Irate">
              Class 11 <i class="fa fa-angle-double-down"></i>
            </button>
          </h4>
          <div id="Irate" class="panel-collapse collapse">
            <div class="panel-body">
            </div>
          </div>
        </li>
        <li>
          <h4 class="panel-title">
            <button class="btn btn-success accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#OS">
              Class 12 <i class="fa fa-angle-double-down"></i>
            </button>
          </h4>
          <div id="OS" class="panel-collapse collapse">
            <div class="panel-body">
            </div>
          </div>
        </li>
        <li>
          <h4 class="panel-title">
            <button class="btn btn-success accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#LostAndFound">
              Class 13<i class="fa fa-angle-double-down"></i>
            </button>
          </h4>
          <div id="LostAndFound" class="panel-collapse collapse">
            <div class="panel-body">
            </div>
          </div>
        </li>
        <li>
          <h4 class="panel-title">
            <button class="btn btn-success accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#lost-child">
              Class 14<i class="fa fa-angle-double-down"></i>
            </button>
          </h4>
          <div id="lost-child" class="panel-collapse collapse">
            <div class="panel-body">
            </div>
          </div>
        </li>
		<li>
          <h4 class="panel-title">
            <button class="btn btn-success accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#LostAndFound">
              Class 15<i class="fa fa-angle-double-down"></i>
            </button>
          </h4>
          <div id="LostAndFound" class="panel-collapse collapse">
            <div class="panel-body">
            </div>
          </div>
        </li>
        <li>
          <h4 class="panel-title">
            <button class="btn btn-success accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#LostAndFound">
              Class 16<i class="fa fa-angle-double-down"></i>
            </button>
          </h4>
          <div id="LostAndFound" class="panel-collapse collapse">
            <div class="panel-body">
            </div>
          </div>
        </li>
        <li>
          <h4 class="panel-title">
            <button class="btn btn-success accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#LostAndFound">
              Class 17<i class="fa fa-angle-double-down"></i>
            </button>
          </h4>
          <div id="LostAndFound" class="panel-collapse collapse">
            <div class="panel-body">
            </div>
          </div>
        </li>
        <li>
          <h4 class="panel-title">
            <button class="btn btn-success accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#LostAndFound">
              Class 18<i class="fa fa-angle-double-down"></i>
            </button>
          </h4>
          <div id="LostAndFound" class="panel-collapse collapse">
            <div class="panel-body">
            </div>
          </div>
        </li>
        <li>
          <h4 class="panel-title">
            <button class="btn btn-success accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#LostAndFound">
              Class 19<i class="fa fa-angle-double-down"></i>
            </button>
          </h4>
          <div id="LostAndFound" class="panel-collapse collapse">
            <div class="panel-body">
            </div>
          </div>
        </li>
        <li>
          <h4 class="panel-title">
            <button class="btn btn-success accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#LostAndFound">
              Class 20<i class="fa fa-angle-double-down"></i>
            </button>
          </h4>
          <div id="LostAndFound" class="panel-collapse collapse">
            <div class="panel-body">
            </div>
          </div>
        </li>
        <li>
          <h4 class="panel-title">
            <button class="btn btn-success accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#LostAndFound">
              Class 21<i class="fa fa-angle-double-down"></i>
            </button>
          </h4>
          <div id="LostAndFound" class="panel-collapse collapse">
            <div class="panel-body">
            </div>
          </div>
        </li>
        <li>
          <h4 class="panel-title">
            <button class="btn btn-success accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#LostAndFound">
              Class 22<i class="fa fa-angle-double-down"></i>
            </button>
          </h4>
          <div id="LostAndFound" class="panel-collapse collapse">
            <div class="panel-body">
            </div>
          </div>
        </li>

      </ul>
  </div>
</div>

<%-#function used to read in csv file-%>
require 'csv'
<%-#file.read('filename')-%>
csv_text = file.read('')
csv = CSV.parse(csv_text, :headers => true)
csv.each do |row|
	moulding.create!(row.to_hash)
end
