<div class="row">
   <div class="col-md-12">
     <h1><center><p>DAY OF SHOW</p><p>Schedule of Events:</p></center></h1>
     <br>
   </div>
   <div class="row">
    <div class="col-md-6 well">
      <ul class="list-unstyled" id="drop_down_list">
        <li>
          <h4 class="panel-title">
            <button class="btn btn-success accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Start">
              Getting Started <i class="fa fa-angle-double-down"></i>
            </button>
          </h4>
          <div id="Start" class="panel-collapse collapse">
            <div class="panel-body">
              Show Organizers assemble at Keene Barn<br >06:00<br><br>
            </div>
          </div>
        </li>
        <li>
          <h4 class="panel-title">
            <button class="btn btn-success accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Open">
              Opening <i class="fa fa-angle-double-down"></i>
            </button>
          </h4>
          <div id="Open" class="panel-collapse collapse">
            <div class="panel-body">
              Show Opens to Entrants<br >06:30<br><br>
            </div>
          </div>
        </li>
        <li>
          <h4 class="panel-title">
            <button class="btn btn-success accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Tickets">
              Ticket-takers <i class="fa fa-angle-double-down"></i>
            </button>
          </h4>
          <div id="Tickets" class="panel-collapse collapse">
            <div class="panel-body">
              Ticket takers on duty at Promenade Gate<br >07:00<br><br>
              Ticket takers on duty at Main Gate<br >07:30<br><br>
            </div>
          </div>
        </li>
        <li>
          <h4 class="panel-title">
            <button class="btn btn-success accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Engines">
              Start Your Engines! <i class="fa fa-angle-double-down"></i>
            </button>
          </h4>
          <div id="Engines" class="panel-collapse collapse">
            <div class="panel-body">
              Show opens to General Public and Paddock Cars<br>09:00<br><br>
              Silent auction opens<br>09:00<br><br>
            </div>
          </div>
        </li>
        <li>
          <h4 class="panel-title">
            <button class="btn btn-success accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Vendors">
              Fuel Up! <i class="fa fa-angle-double-down"></i>
            </button>
          </h4>
          <div id="Vendors" class="panel-collapse collapse">
            <div class="panel-body">
              Food vendors open<br>11:00<br><br>
            </div>
          </div>
        </li>
        <li>
          <h4 class="panel-title">
            <button class="btn btn-success accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Ceremony">
              Awards Ceremony<i class="fa fa-angle-double-down"></i>
            </button>
          </h4>
          <div id="Ceremony" class="panel-collapse collapse">
            <div class="panel-body">
              Ceremoney Begins:  15:00<br><br>
              <ul>
                <p>Call to Post</p>
                <p>Barbershop quartet</p>
                <p>Acknowledgements</p>
                <p>Winners by Category</p>
                <p>Porshe Raffle Drawing</p>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <h4 class="panel-title">
            <button class="btn btn-success accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#End">
              Show Concludes<i class="fa fa-angle-double-down"></i>
            </button>
          </h4>
          <div id="End" class="panel-collapse collapse">
            <div class="panel-body">
              Show Ends:<br>16:00<br><br>
              Cool-Down Get Together in Keene Barn<br>16:00<br><br>
            </div>
          </div>
        </li>
        <li>
          <h4 class="panel-title">
            <a button class="btn btn-success" href="info"><i class="fa fa-angle-double-left"></i>
              Back</a>
            </button>
          </h4>
        </li>
      </ul>
  </div>
</div>