<div class="row">
   <div class="col-md-12">
     <h1>Schedule:</h1>
     <br>
   </div>
   <div class="row">
    <div class="col-md-6 well">
      <ul class="list-unstyled" id="drop_down_list">
        <li>
          <h4 class="panel-title">
            <button class="btn btn-success accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Vendors">
              Opening <i class="fa fa-angle-double-down"></i>
            </button>
          </h4>
          <div id="Vendors" class="panel-collapse collapse">
            <div class="panel-body">
              Field Opens to Entrants<br >6:30 AM<br><br>
              Vendors Open to set up<br>7:00 AM <br><br>
              Car Clubs Open to Participants<br>7:30<br><br>
            </div>
          </div>
        </li>
        <li>
          <h4 class="panel-title">
            <button class="btn btn-success accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Irate">
              Start Your Engines! <i class="fa fa-angle-double-down"></i>
            </button>
          </h4>
          <div id="Irate" class="panel-collapse collapse">
            <div class="panel-body">
              Concours opens to VIP Guests<br >7:45 AM <br><br>
              Concours open to General Admission<br>8:00 PM<br><br>
            </div>
          </div>
        </li>
        <li>
          <h4 class="panel-title">
            <button class="btn btn-success accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#PS">
              Judging<i class="fa fa-angle-double-down"></i>
            </button>
          </h4>
          <div id="PS" class="panel-collapse collapse">
            <div class="panel-body">
              Judging Begins:<br>9:00 AM <br><br>
              Antiques:<br>9:20 AM<br><br>
              Open Collection:<br>9:40 AM<br><br>
              Closed Collection:<br>10:00 AM<br><br>
              Foreign Collection:<br>10:20 AM<br><br>
              Mini:<br>10:40 AM<br><br>
              American Performance:<br>11:00 PM<br><br>
              Sports Classics:<br>11:20 PM<br><br>
              Future Classics:<br>11:40 PM<br><br>
              Preservation:<br>1:00 PM<br><br>
              Mustang:<br>1:20 PM<br><br>
              Mustang:<br>1:40 PM<br><br>
              Vintage:<br>2:00 PM<br><br>
            </div>
          </div>
        </li>
        <li>
          <h4 class="panel-title">
            <button class="btn btn-success accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Judging">
              Awards Ceremony<i class="fa fa-angle-double-down"></i>
            </button>
          </h4>
          <div id="Judging" class="panel-collapse collapse">
            <div class="panel-body">
              Ceremoney Begins:<br>3:00 PM<br><br>
            </div>
          </div>
        </li>
        <li>
          <h4 class="panel-title">
            <button class="btn btn-success accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Raffle">
              Raffle <i class="fa fa-angle-double-down"></i>
            </button>
          </h4>
          <div id="Raffle" class="panel-collapse collapse">
            <div class="panel-body">
              Raffle Ticket Sales open:<br>9:00 AM <br><br>
              Raffle Drawing:<br>4:00 PM<br><br>
            </div>
          </div>
        </li>
        <li>
          <h4 class="panel-title">
            <button class="btn btn-success accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#VIP">
              Show Concludes <i class="fa fa-angle-double-down"></i>
            </button>
          </h4>
          <div id="VIP" class="panel-collapse collapse">
            <div class="panel-body">
              Show Ends:<br>4:30PM<br><br>
            </div>
          </div>
        </li>
        <li>
          <h4 class="panel-title">
            <a button class="btn btn-success" href="info"><i class="fa fa-angle-double-left"></i>
              Back</a>
            </button>
          </h4>
        </li>
      </ul>
  </div>
</div>