<div class="row">
   <div class="col-md-12">
     <h1><center><p>DAY OF SHOW</p><p>Schedule of Events:</p></center></h1>
     <br>
   </div>
   <div class="row">
    <div class="col-md-6 well">
    
        <table width="400">
       <tr>
	    <td> 6:00</td>
	    <td> Show Organizers assemble at Keene Barn</td>
	</tr>
	 <tr>
	    <td> 6:30</td>
	    <td> Show Opens to Entrants</td>
	</tr>
	 <tr>
	    <td> 7:00</td>
	    <td> Ticket takers on duty at Promenade Gate</td>
	</tr>
	 <tr>
	    <td> 7:30</td>
	    <td> Ticket takers on duty at Main Gate</td>
	</tr>
	 <tr>
	    <td> 9:00</td>
	    <td> Show opens to General Public and Paddock Cars</td>
	</tr>
	 <tr>
	    <td> 9:00</td>
	    <td> Silent auction opens</td>
	</tr>
	 <tr>
	    <td>11:00</td>
	    <td> Food vendors open</td>
	</tr>
	 <tr>
	    <td style="vertical-align: top;">15:00</td>
	    <td> Call to Post<br>
Barbershop Quartet<br>
Acknowledgements<br>
Winners by Category<br>
Porshe Raffle Drawing</td>
	</tr>
	 <tr>
	    <td> 16:00</td>
	    <td> Show Ends</td>
	</tr>
	 <tr>
	    <td>16:00</td>
	    <td> Cool-Down Get Together in Keene Barn</td>
	</tr>
	


</div>
  </div>
</div>