<div class="row">
  <div class="col-md-6">
    <div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <span>Success!</span> The alert message has been updated.
    </div>
    <h3>Current Alert Message</h3>
    <p><%= @alert %></p>
  </div>
</div>
<div class="row">
  <div class="col-md-1">
    <a href="/" class="btn btn-primary">Go home</a>
  </div>
  <div class="col-md-1">
  <a href="/alert" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Go Back</a>
  </div>
</div>
