<div class="row">
    <h1>Do:</h1>
    <ul>
      <h2><li>Greet each vistor with a smile</li>
      <li>Guests right of way</li></h2>
    </ul>
    <h1>Don't:</h1>
    <ul>
      <h2><li>Chew with your mouth open</li>
      <li>Leave your phone at home</li>
      <li>Ignore visitors</li>
      <li>Be late for your post</li></h2>
    </ul>
</div>
