<div class="row">
  <div class="col-md-3 text-center">
    <h3>Volunteers</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt orci ut tellus sollicitudin, sed egestas lorem ultricies. Praesent facilisis.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <a href="volunteerinfo" class="btn btn-success btn-block btn-lg">Volunteering Info</a>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <a href="contact" class="btn btn-success btn-block btn-lg">Who to contact?</a>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <a href="info" class="btn btn-success btn-block btn-lg"><i class="fa fa-angle-double-left"></i> Back</a>
  </div>
</div>