<div class="row">
  <h3><center>Volunteer Information</center></h3>
  <h2>First a thanks:</h2>
    <ul>
      <li>Thank you for volunteering at the Keeneland Concours - without your assistance, there could be no Concours d'Elegance, and no support for the Kentucky Children's Hospital that this event provides.</li>
      <li>Your positions are among the most important because you are the first, and possibly only, point of contact with the "general public." <strong>YOU</strong> represent the Concours.</li>
      <li>It has been estimated that 93% of all human communications are nonverbal, i.e. facial expressions, voice tone, posture, hand gestures, body language, all communicate information to the person you are serving.</li>
      <li>Please be mindful of all you say and do so that everyone feels the warmth and friendliness that is one of the key hallmarks of this event and differentiates this Concours from ALL others.</li>
      <li>Thus, please bear in mind the following Do's and Don'ts regarding customer interactions.</li>
    </ul><br>
  <h2>Do:</h2>
    <ul>
      <li>smile at everyone, everytime, in every circumstance</li>
      <li>go beyond the Golden Rule - use the Platinum Rule:  Treat them as they want to be treated</li>
      <li>begin your address to every customer with:  
            "Hello, Welcome to the Keeneland Concours, we are glad you are here."</li>
      <li>close your address to every customer you have served with:
            "Thank you for supporting the Kentucky Children's Hospital - please have a wonderful time, tell your friends, and come back again next year."</li>
    </ul><br>
    <h2>Don't:</h2>
    <ul>
      <li>use negative words such as "NO, YOU CAN'T ____, etc. - rephrase in positive terms</li>
      <li>have furrowed eyebrows, crossed arms, negative voice tones, etc. that communicate anything except kindness and helpfulness.</li>
      <li>say "I don't know" and leave the customer unsatisfied - ask. - someone will know the answer.</li>
      <li>forget your smart phone!</li>
    </ul><br>
    <h2>Tips: </h2>
    <ul>
      <li>Take care of yourself:</li>
      <ul type="circle">
        <li>It will be HOT!  Every gate has a BIG cooler with ice, water, oranges, bananas, etc.</li>
        <li>Drink water, stay cool, and eat to replenish lost electrolytes</li>
        <li>Beware "speeding cars" on Keenland Drive heading to non-Concours destinations</li>
      </ul>
      <li>Be calm, have fun, and enjoy.  Thank you for helping make a difference in the health of Kentucky children</li>
</div>
<div>
  <h4 class="panel-title">
    <a button class="btn btn-success" href="volunteer"><i class="fa fa-angle-double-left"></i>
      Back</a>
    </button>
  </h4>
</div>
