<html>
  <head>
    <title>Who to Contact:</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/main.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="row">
         <div class="col-md-12">
           <h1>Who to contact for:</h1>
           <br>
         </div>
         <div class="row">
          <div class="col-md-6 well">
            <ul class="list-unstyled" id="drop_down_list">
              <li>
                <h4 class="panel-title">
                  <button class="btn btn-primary accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#PS">
                    Participant Services <i class="fa fa-angle-double-down"></i>
                  </button>
                </h4>
                <div id="PS" class="panel-collapse collapse">
                  <div class="panel-body">
                    John Doe<br>
                    Lead Organizer (859)-555-5555<br>
                  </div>
                </div>
              </li>
              <li>
                <h4 class="panel-title">
                  <button class="btn btn-primary accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Judging">
                    Judging <i class="fa fa-angle-double-down"></i>
                  </button>
                </h4>
                <div id="Judging" class="panel-collapse collapse">
                  <div class="panel-body">
                    Jane Doe<br>
                    Judging Provisor (859)-555-1234
                  </div>
                </div>
              </li>
              <li>
                <h4 class="panel-title">
                  <button class="btn btn-primary accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Raffle">
                    Raffle Tickets <i class="fa fa-angle-double-down"></i>
                  </button>
                </h4>
                <div id="Raffle" class="panel-collapse collapse">
                  <div class="panel-body">
                    Bob Smith<br >
                    Raffle Supervisor (859)-555-5678
                  </div>
                </div>
              </li>
              <li>
                <h4 class="panel-title">
                  <button class="btn btn-primary accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#VIP">
                    VIP Services <i class="fa fa-angle-double-down"></i>
                  </button>
                </h4>
                <div id="VIP" class="panel-collapse collapse">
                  <div class="panel-body">
                    John Smith<br >
                    VIP Conductor (859)-555-9876
                  </div>
                </div>
              </li>
              <li>
                <h4 class="panel-title">
                  <button class="btn btn-primary accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Vendors">
                    Vendors <i class="fa fa-angle-double-down"></i>
                  </button>
                </h4>
                <div id="Vendors" class="panel-collapse collapse">
                  <div class="panel-body">
                    Sarah Smith<br >
                    Vending Organizer (859)-123-4567
                  </div>
                </div>
              </li>
              <li>
                <h4 class="panel-title">
                  <button class="btn btn-primary accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Irate">
                    Irate Visitor / Participant <i class="fa fa-angle-double-down"></i>
                  </button>
                </h4>
                <div id="Irate" class="panel-collapse collapse">
                  <div class="panel-body">
                    Sally Smith<br >
                    Customer Service Manager (859)-987-6543
                  </div>
                </div>
              </li>
            </ul>
        </div>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-2.0.3.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>